<div class="modal-header">
    <div class="row">
        <div class="col-md-9">
                <span data-ng-repeat="tag in tratos.tags" class="label label-primary pull-left"
                      style="font-size: initial; margin: 2px;">{{tag}}</span>
        </div>
        <div class="col-md-3">
            <button style="float: right; margin-right: 15px;" ng-click="cancel(tratos._id)" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <span style="float: right; margin-right: 15px; font-size: initial;"
                      class="label label-primary">{{tratos.precio}}€</span>
        </div>
    </div>
</div>