<div class="modal-footer">
    <a href="#" class="btn btn-message" role="button" title="Enviar mensaje">
        <span class="glyphicon glyphicon-envelope"></span> Enviar mensaje
    </a>
    <a ng-click="deal($event, tratos)" class="btn btn-deal" role="button" title="Contraoferta" ng-if="contraoferta">
        <span class="glyphicon glyphicon-transfer"></span> Contraoferta
    </a>
    <is-favorite-modal data-favorite="{{tratos._id}}"></is-favorite-modal>
    <a href="#" class="btn btn-phone" role="button" title="Ver teléfono">
        <span class="glyphicon glyphicon-earphone"></span> Ver teléfono
    </a>
    <a href="#" class="btn btn-complaint" role="button" title="Denunciar trato">
        <span class="glyphicon glyphicon-thumbs-down"></span> Denunciar trato
    </a>
</div>