<div class="" data-ng-controller="HeaderController">
    <ul class="navbar-nav nav">
        <li>
            <a class="navbar-brand" href="/#!/">elTrato.net</a>
        </li>
        <li data-ng-repeat="item in menu" data-ng-show="global.user" ui-route="/{{item.link}}"
            ng-class="{active: $uiRoute}">
            <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    <div class="col-sm-4 col-md-4 col-lg-offset-3" data-ng-show="!global.authenticated">
        <form class="navbar-form navbar-left" role="search" name="search-form" data-ng-submit="buscar()">
            <div class="input-group">
                <input data-ng-model="q" type="text" class="form-control" value="">

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-4 col-md-4" data-ng-show="global.authenticated">
        <form class="navbar-form navbar-left" role="search" name="search-form" data-ng-submit="buscar()">
            <div class="input-group">
                <input data-ng-model="q" type="text" class="form-control" value="">

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <ul class="navbar-nav nav pull-right" data-ng-hide="global.authenticated">
        <li><a href="signup">Signup</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a href="signin">Signin</a>
        </li>
    </ul>
    <ul class="navbar-nav nav pull-right" data-ng-show="global.authenticated">
        <li>
            <div class="btn-group navbar-btn">
                <a class="btn btn-primary" href="anuncios/create">
                    <span class="glyphicon glyphicon-plus" tooltip-placement="bottom" tooltip="Crear nuevo trato"></span>
                </a>
            </div>
            <div class="btn-group navbar-btn" style="margin-right: 10px;">
                <button class="btn btn-primary">
                    {{global.user.username}}
                </button>
                <button data-toggle="dropdown " class="btn btn-primary dropdown-toggle"><span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#!/cuenta"><span class="glyphicon glyphicon-user"></span> Cuenta </a></li>
                    <li><a href="#!/gestion"><span class="glyphicon glyphicon-tasks"></span> Gestion</a></li>
                    <li><a href="#!/mensajes"><span class="glyphicon glyphicon-inbox"></span> Mensajes</a></li>
                    <li class="divider"></li>
                    <li><a href="/signout"> <span class="glyphicon glyphicon-off"></span> Signout</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
