.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:70px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.parent {
    display:table;
}

.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

footer p {
    padding:5px 0 12px 10px
}

/* google maps */
.map-canvas { height: 150px; }

.map-canvas-full-height { height: 100%; }
/* upload */
.my-drop-zone { border: dotted 3px lightgray; }
.ng-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.textLoading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.imgLoading {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.animate-switch-container {
    position:relative;
    background:white;
    height:auto;
    overflow:hidden;
}

.animate-switch {
    padding:10px;
}

.animate-switch.ng-animate {
    -webkit-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 800ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
    opacity: 0;
    top: -400px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
    opacity: 1;
    top: 0;
}

.placeCenter::-webkit-input-placeholder {
    text-align: center;
}

input[type='range'] {
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #357ebd;
    background-color: #428bca;
    height: 10px;
    vertical-align: middle;
}
input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #357ebd;
    background-color: #428bca;
    height: 10px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
    border: 1px solid #999;
    height: 20px;
    width: 20px;
}

.wrapper { display: none; }

@media screen and (min-width: 767px) {
    .modalTrato .modal-dialog  {
        width: 61%;
    }
}

#loading {
    width: 50%;
    margin: 0 auto;
}

/*message Button*/
.btn-message {
    color: #428bca;
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-message:hover,
.btn-message:focus,
.btn-message:active,
.btn-message.active,
.open .dropdown-toggle.btn-message {
    color: #ffffff;
    background-color: #428bca;
    border-color: #285e8e;
}

.btn-message:active,
.btn-message.active,
.open .dropdown-toggle.btn-message {
    background-image: none;
}

.btn-message.disabled,
.btn-message[disabled],
fieldset[disabled] .btn-message,
.btn-message.disabled:hover,
.btn-message[disabled]:hover,
fieldset[disabled] .btn-message:hover,
.btn-message.disabled:focus,
.btn-message[disabled]:focus,
fieldset[disabled] .btn-message:focus,
.btn-message.disabled:active,
.btn-message[disabled]:active,
fieldset[disabled] .btn-message:active,
.btn-message.disabled.active,
.btn-message[disabled].active,
fieldset[disabled] .btn-message.active {
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-message .badge {
    color: #ffffff;
    background-color: #fff;
}
/*End message button*/

/*deal Button*/

.btn-deal {
    color: #428bca;
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-deal:hover,
.btn-deal:focus,
.btn-deal:active,
.btn-deal.active,
.open .dropdown-toggle.btn-deal {
    color: #ffffff;
    background-color: #47a447;
    border-color: #398439;
}

.btn-deal:active,
.btn-deal.active,
.open .dropdown-toggle.btn-deal {
    background-image: none;
}

.btn-deal.disabled,
.btn-deal[disabled],
fieldset[disabled] .btn-deal,
.btn-deal.disabled:hover,
.btn-deal[disabled]:hover,
fieldset[disabled] .btn-deal:hover,
.btn-deal.disabled:focus,
.btn-deal[disabled]:focus,
fieldset[disabled] .btn-deal:focus,
.btn-deal.disabled:active,
.btn-deal[disabled]:active,
fieldset[disabled] .btn-deal:active,
.btn-deal.disabled.active,
.btn-deal[disabled].active,
fieldset[disabled] .btn-deal.active {
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-deal .badge {
    color: #ffffff;
    background-color: #fff;
}

/*End deal button*/

/*favorite button*/

.btn-favorite {
    color: #428bca;
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-favorite:hover,
.btn-favorite:focus,
.btn-favorite:active,
.btn-favorite.active,
.open .dropdown-toggle.btn-favorite {
    color: #ffffff;
    background-color: #ed9c28;
    border-color: #d58512;
}

.btn-favorite:active,
.btn-favorite.active,
.open .dropdown-toggle.btn-favorite {
    background-image: none;
}

.btn-favorite.disabled,
.btn-favorite[disabled],
fieldset[disabled] .btn-favorite,
.btn-favorite.disabled:hover,
.btn-favorite[disabled]:hover,
fieldset[disabled] .btn-favorite:hover,
.btn-favorite.disabled:focus,
.btn-favorite[disabled]:focus,
fieldset[disabled] .btn-favorite:focus,
.btn-favorite.disabled:active,
.btn-favorite[disabled]:active,
fieldset[disabled] .btn-favorite:active,
.btn-favorite.disabled.active,
.btn-favorite[disabled].active,
fieldset[disabled] .btn-favorite.active {
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-favorite .badge {
    color: #ffffff;
    background-color: #fff;
}

/*End favorite button*/

/*phone button*/

.btn-phone {
    color: #428bca;
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-phone:hover,
.btn-phone:focus,
.btn-phone:active,
.btn-phone.active,
.open .dropdown-toggle.btn-phone {
    color: #ffffff;
    background-color: #39b3d7;
    border-color: #269abc;
}

.btn-phone:active,
.btn-phone.active,
.open .dropdown-toggle.btn-phone {
    background-image: none;
}

.btn-phone.disabled,
.btn-phone[disabled],
fieldset[disabled] .btn-phone,
.btn-phone.disabled:hover,
.btn-phone[disabled]:hover,
fieldset[disabled] .btn-phone:hover,
.btn-phone.disabled:focus,
.btn-phone[disabled]:focus,
fieldset[disabled] .btn-phone:focus,
.btn-phone.disabled:active,
.btn-phone[disabled]:active,
fieldset[disabled] .btn-phone:active,
.btn-phone.disabled.active,
.btn-phone[disabled].active,
fieldset[disabled] .btn-phone.active {
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-phone .badge {
    color: #ffffff;
    background-color: #fff;
}

/*End phone button*/

/*complaint button*/

.btn-complaint {
    color: #428bca;
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-complaint:hover,
.btn-complaint:focus,
.btn-complaint:active,
.btn-complaint.active,
.open .dropdown-toggle.btn-complaint {
    color: #ffffff;
    background-color: #d2322d;
    border-color: #ac2925;
}

.btn-complaint:active,
.btn-complaint.active,
.open .dropdown-toggle.btn-complaint {
    background-image: none;
}

.btn-complaint.disabled,
.btn-complaint[disabled],
fieldset[disabled] .btn-complaint,
.btn-complaint.disabled:hover,
.btn-complaint[disabled]:hover,
fieldset[disabled] .btn-complaint:hover,
.btn-complaint.disabled:focus,
.btn-complaint[disabled]:focus,
fieldset[disabled] .btn-complaint:focus,
.btn-complaint.disabled:active,
.btn-complaint[disabled]:active,
fieldset[disabled] .btn-complaint:active,
.btn-complaint.disabled.active,
.btn-complaint[disabled].active,
fieldset[disabled] .btn-complaint.active {
    background-color: #ffffff;
    border-color: #cccccc;
}

.btn-complaint .badge {
    color: #ffffff;
    background-color: #fff;
}

/*end complaint button*/

.numPhotos {
    text-align: right;
    color: #428bca;
}

.fieldRequired {
    color: red;
}

/*Google Sign in*/

#customBtn {
    display: inline-block;
    background: #dd4b39;
    color: white;
    width: 159px;
    height: 29px;
    border-radius: 5px;
    white-space: nowrap;
}
#customBtn:hover {
    background: #e74b37;
    cursor: hand;
}
span.label {
    font-weight: bold;
}
span.icon {
    background: url('../img/icons/g+32.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 28px;
    border-right: #bb3f30 1px solid;
}
span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 14px;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Helvetica Neue';
}
