<div class="modal-body">
    <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
    <div class="row">
        <div class="col-md-6">
            <div data-ng-repeat="images in tratos.images">
                <div class="row" ng-if="$index == 0">
                    <div class="col-md-12">
                        <a href ng-click="show_dialog()">
                            <div class="thumbnail" style="margin-bottom: 7px;">
                                <img alt="{{images}}" src="{{images}}" class="img-circle">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4" style="padding-left: 0;" ng-if="$index != 0">
                    <a href ng-click="show_dialog()">
                        <div class="thumbnail">
                            <img src="{{images}}" class="img-circle" style="height: 4em">
                        </div>
                    </a>
                </div>
                <div class="wrapper">
                    <div class="future_fancybox_content">
                        <img class="fancybox-image" src="{{images}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <span class="label label-default">{{address}}</span>
                </div>
                <div class="col-md-6">
                            <span class="label label-default pull-right"
                                  am-time-ago="tratos.created"></span>
                </div>
            </div>
            <div class="row" style="height: 13.5em">
                <div class="col-md-12">
                    <div ng-if="dealDiv" class="col-md-8 col-lg-offset-2" style="margin-bottom: 10px">
                        <form-deal-div></form-deal-div>
                    </div>
                    <div ng-if="productDiv">
                        <div class="well well-lg">Some content2</div>
                    </div>
                    <div ng-if="barterDiv">
                        <div class="well well-lg">Some content3</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{tratos.user.username}}
                </div>
            </div>
        </div>
    </div>
</div>