<section data-ng-controller="GestionController">
    <div class="row" data-spy="scroll" data-target=".navbar-example">
        <div class="col-md-3">
            <div class="bs-docs-sidebar hidden-print affix-top">
                <ul data-ng-model="myTab" class="nav nav-pills nav-stacked nav-tabs">
                    <li><a href="#cuenta" class="active" data-toggle="tab" data-ng-click="cambiarTab($event)" >Cuenta</a></li>
                    <li><a href="#tratos" data-toggle="tab" data-ng-click="cambiarTab($event)" >Tratos</a></li>
                    <li><a href="#favoritos" data-toggle="tab" data-ng-click="cambiarTab($event)" >Favoritos</a></li>
                    <li><a href="#mensajes" data-toggle="tab" data-ng-click="cambiarTab($event)" >Mensajes</a></li>
                    <li><a href="#" data-toggle="tab" data-ng-click="cambiarTab($event)" >Contra-ofertas</a></li> //Seccion con enviadas/recibidas
                    <li><a href="#" data-toggle="tab" data-ng-click="cambiarTab($event)" >Lista negra</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9" >
            <div class="tab-content">
        <!-- Overview ================================================== -->
        <div class="tab-pane active" id="cuenta" >
            <h1 class="page-header">Cuenta <small>Modifica tu perfil</small></h1>

                <div class=" col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Nombre de usuario:</h3>
                        </div>
                        <div class="panel-body">
                            {{global.user.username}}
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Nombre:</h3>
                        </div>
                        <div class="panel-body">
                            {{global.user.name}}
                        </div>
                    </div>
                </div>
            <div class=" col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Correo electronico:</h3>
                    </div>
                    <div class="panel-body">
                        {{global.user.email}}
                    </div>
                </div>
            </div>
        </div>
            <div class="tab-pane" id="tratos" >
                <h1 class="page-header">Tratos <small>Crea, edita, borra</small></h1>
            </div>

                <div class="tab-pane" id="favoritos" >
                    <h1 class="page-header">Favoritos <small>Estos me interesan</small></h1>
                </div>

                <div class="tab-pane" id="mensajes" >
                    <h1 class="page-header">Mensajes <small>Vamos a hablar+</small></h1>
                </div>

            </div>
        </div>
    </div>
</section>