{% extends 'auth.html' %}

{% block auth %}
<section data-ng-controller="SignupController">
    <form class="signin form-horizontal" action="/users" method="post">
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Tu nombre: </label>

            <div class="col-md-8">
                <input id="name" class="form-control" type="text" name="name" placeholder="Nombre completo"
                       value="{{user.name}}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>

            <div class="col-md-8">
                <input id="email" class="form-control" type="text" name="email" placeholder="Email"
                       value="{{user.email}}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">Nombre de usuario</label>

            <div class="col-md-8">
                <input id="username" class="form-control" type="text" name="username" placeholder="Nombre de usuario"
                       value="{{user.username}}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Contraseña</label>

            <div class="col-md-8">
                <input id="password" class="form-control" type="password" name="password" placeholder="Contraseña"/>
            </div>
        </div>
        <div class="form-group" ng-if="mapa==true">
            <label class="col-md-4 control-label" for="geolocalizacion">Tu ubicación actual</label>

            <div class="col-md-8">
                <div ui-map="model.myMap" ui-options="mapOptions" id="map_canvas" class="map-canvas"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <label class="radio-inline" ng-if="radioAct==true">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="options.value" value="option1" ng-change='newValue(options.value)' checked>
                    Utilizar ubicación actual
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadios" id="optionsRadios2" ng-model="options.value" value="option2" ng-checked="radioGo" ng-change='newValue(options.value)' required>
                    Utilizar otra ubicación
                </label>
            </div>
        </div>
        <div class="form-group"ng-if="inputGeo==true">
            <label class="col-md-4 control-label" for="location">Elige tu ubicación</label>
            <div class="col-md-8">
                <input type="text" ng-model="asyncSelected" placeholder="Elige tu ubicación" typeahead="address
                for address in getLocationViaGoogle($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations"
                       class="form-control">
                <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
            </div>
        </div>
        <input type="hidden" ng-value="lat" id="inputLat" name="lat">
        <input type="hidden" ng-value="lng" id="inputLng" name="lng">

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button class="btn btn-primary" type="submit">Sign up</button>
                &nbsp;
                or&nbsp;<a class="show-login" href="/signin">login</a>
            </div>
        </div>
    </form>
</section>
{% endblock %}
