<section data-ng-controller="AnunciosController" data-ng-init="find()">
    <div class="row">
        <div ui-map="model.myMap" ui-options="mapOptions" id="map_canvas" style="height: 250px"></div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th></th>
                <th>created</th>
                <th>username</th>
                <th>descripcion</th>
                <th>tags</th>
                <th>tagsLower</th>
                <th>opciones</th>
                <th>precio</th>
                <th>images</th>
                <th>locs</th>
            </tr>
            <tr data-ng-repeat="anuncio in anuncios">
                <td>
                    <a href="#!/anuncios/{{anuncio._id}}/edit" class="btn btn-primary" role="button" title="Modificar">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="#!/anuncios/{{anuncio._id}}/delete" class="btn btn-danger" role="button" title="Borrar">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
                <td>{{anuncio.created | date:'medium'}}</td>
                <td>{{anuncio.user.name}}</td>
                <td>{{anuncio.descripcion}}</td>
                <td>{{anuncio.tags}}</td>
                <td>{{anuncio.tagsLower}}</td>
                <td>{{anuncio.opciones}}</td>
                <td>{{anuncio.precio}}</td>
                <td>{{anuncio.images}}</td>
                <td>{{anuncio.locs}}</td>

            </tr>
        </table>
    </div>
</section>