<section data-ng-controller="AnunciosController" data-ng-init="findOne()">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <!-- Default panel contents -->
                <div class="panel-heading">Lo más buscado</div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">#1 Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row" style="margin-bottom: 20px">
                <div class="col-md-9">
                    <span data-ng-repeat="tag in anuncio.tags" class="label label-primary pull-left"
                          style="font-size: initial; margin: 2px;">{{tag}}</span>
                </div>
                <div class="col-md-3">
                    <span style="float: right; margin-right: 15px; font-size: initial;"
                          class="label label-primary">{{anuncio.precio}}€</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div data-ng-repeat="images in anuncio.images">
                        <div class="row" ng-if="$index == 0">
                            <div class="col-md-12">
                                <a href ng-click="show_dialog()">
                                    <div class="thumbnail">
                                        <img data-src="{{images}}" alt="{{images}}" src="{{images}}" class="img-circle">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-2" ng-if="$index != 0">
                            <a href ng-click="show_dialog()">
                                <div class="thumbnail">
                                    <img src="{{images}}" class="img-circle" style="height: 4em">
                                </div>
                            </a>
                        </div>
                        <div class="wrapper">
                            <div class="future_fancybox_content">
                                <img src="{{images}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="label label-default">{{address}}</span>
                        </div>
                        <div class="col-md-4 col-lg-offset-4">
                            <span class="label label-default pull-right"
                                  am-time-ago="anuncio.created"></span>
                        </div>
                    </div>
                    <div class="row" style="height: 20em;">
                        <div class="col-md-12">
                            <h4>{{anuncio.descripcion}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
