<div class="row" style="margin-bottom: 10px;">
    <form role="form" class="form-horizontal" ng-submit="sendDeal()" ng-if="mostrarForm">
        <h3 style="color: #428bca">Hacer oferta</h3>
        <div class="form-group">
            <input name="oferta" type="number" min="0" class="form-control" data-ng-model="oferta" id="oferta"
                   placeholder="0€" required>
            <alert ng-if="error" type="errorContra.type" style="margin-top: 10px;">
                {{errorContra.msg}}
            </alert>
        </div>
        <div class="form-group">
            <textarea name="Descripcion" ng-model="comentario" id="comentario" cols="10" rows="4"
                      placeholder="Comentario (Opcional)"
                      class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
<div class="row" ng-if="mostrarAlert">
    <alert type="alertOpciones.type"><h4>{{alertOpciones.title}}</h4>
        {{alertOpciones.msg}}
    </alert>
    <a ng-if="mostrarButton" ng-click="returnContra()" class="btn btn-primary">Deseas volver a enviar una contraoferta?</a>
</div>
