<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <h5>{{conFav}}</h5>
        </div>
    </div>
    <div class="row" collapse="!isVentaja">
        <div class="col-md-12">
            <h4><small>Con tu cuenta de elTrato.net podrás públicar tratos, guardar aquellos tratos que te interesen en favoritos,
                poder realizar contraofertas, trueques y mucho mas... Disfrutaras de todas las ventajas de nuestro chat,
                configurar tu cuenta como mas te convenga y podrás controlar todas las estadisticas de tus tratos. <br><br>
                A que esperas, unete a elTrato.net!</small></h4>
        </div>
    </div>
</div>